extends ../layouts/default

block content
    .col-sm-8
        article
            p: a(href='/') &larr; regressar a Home
            hr
            if !data.post
                h2 Invalid Post.
            else
                header.post-header
                    h1= data.post.title
                    if data.post.publishedDate
                        span.date
                            | em #{data.post._.publishedDate.format('dddd MMM DD, YYYY')}
                .post-entry
                    if data.post.image.exists
                        .image-wrap: img(src=data.post._.image.fit(770,514)).img-responsive
                    .post-text!= data.post.content.full


                .sharing-area
                    h3 Partilha este Post
                    .social-share-buttons
                        ul
                            li
                                a(href="https://www.facebook.com")
                                    i.fa.fa-facebook
                                        label.hidden-xs
                                            | Partilha no facebook
                            li
                                a(href="https://www.twitter.com")
                                    i.fa.fa-twitter
                                        label.hidden-xs
                                            | Partilha no Twitter
                            li
                                a(href="https://www.pinterest.com")
                                    i.fa.fa-pinterest
                                        label.hidden-xs
                                            | Pin no Pinterest
                    .entry-tags
                        | Tags
                hr

                .blog-pager
                    span.blog-pager-newer-link
                        a(href="")
                            h4
                                b
                                    i.fa.fa-long-arrow-left
                                    |  História Anterior


                    span.blog-pager-older-link
                        a(href="")
                            h4
                                b
                                    | História Seguinte
                                    i.fa.fa-long-arrow-right
                .post-related
                    .post-box
                        h4.post-box-title
                            | Podes também gostar
                        .item-related
                            if data.post.image.exists
                            a(href="#")
                                img(src=data.post._.image.fit(150,100))
                            h3
                                a(href="#")
                                    | Title Holder
                .post-comments
                    .post-box
                        h4.post-box-title
                            | 8 Comments
                    .comments

